#cart{
  margin-top:3rem;
  background-color:rgb(208, 208, 208);
  display:none;  
  padding:2rem;
}


#cart h3,h4,h5,ul{
  margin-bottom:1rem;
}
label{
  margin-right:1rem;
}
#form-pizza button{
  margin-top:.5rem;}
#modal{
  color:black;
}
li{
  margin-bottom:1rem;
}

body{
  background-image: url(../img/1pizza.jpeg);
  background-color:white;
  background-size:300px;
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: 2rem;
}
.no-separate{
  white-space: nowrap;
}
.container{
  color:black;
}
.header{
  text-align:center;
  margin:5rem;
}
@media (max-width: 990px){
  .header{
  margin-top:12rem;
  }
}
.col{
  margin-top: 1rem;
}
.col-md-6{
  margin-top:1rem;
}

.content{
  margin:5rem;
  color:black;
}


#delivery-form, #pickup-form{
  display:none;
}

/* The Modal (background) */
/* I got all this below from W3Schools */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content button, label{
  margin-top:1rem;
}

/* Modal Content/Box */
.modal-content {
  color:black;
  max-width: 800px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 60%; 
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.col-md-4{
  margin-top:1rem;
}
.col-md-8{
  margin-top: 1rem;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
h2{
  text-align:center;
  margin-top:1rem;
  margin-bottom:1rem;
}
a{
  text-align: center;
  margin-bottom:1rem;
}