#cart{
  margin-top:3rem;
  background-color:rgb(208, 208, 208);
  display:none;  
  padding:2rem;
}
#cart button{
  margin-right:.5rem;
}
#cart h3,h4,h5,ul{
  margin-bottom:1rem;
}
label{
  margin-right:1rem;
}
#form-pizza button{
  margin-top:2rem;}
p{font-weight: bold;}
#modal{
  color:black;
}
li{
  margin-bottom:1rem;
}


body{
  background-image: url(../img/3.jpeg);
  background-color:white;
  background-size:300px;
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: 2rem;
}
.container{
  color:black;
}
.header{
  text-align:center;
  margin:4rem;
}
.content{
  margin:5rem;
  color:black;
}


#delivery-form, #pickup-form{
  display:none;
}

/* The Modal (background) */
/* I got all this below from W3Schools */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content button, label{
  margin-top:1rem;
}

/* Modal Content/Box */
.modal-content {
  color:black;
  max-width: 800px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}